@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Rubik&display=swap');

body{
  margin: 25px;
  background-image: url('https://miro.medium.com/max/1575/0*JI6nd585CjCXGmXi.jpg');
  padding: 10px;
  font-family: Rubik;
  color: green;
}

.card-header{
  margin: 25px;
  padding: 10px;
  font-family: Rubik;
  color: green;
  font-size: xx-large;
  border-bottom: 5px solid green;
}

h1, label, p, .card, .footer, .container, .card-body {
  border: 2px solid purple;
  border-radius: 5px;
  margin: 25px;
  background-color: #fff;
}

.container{
  margin: 25px;
  padding: 10px;
}

h4{
  font-family: Bai Jamjuree;
  color: blueviolet;
  font-weight: bold;
}

h5{
  font-family: Bai Jamjuree;
  color: blueviolet;
  text-decoration: underline;
}
